#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color:white;
}
.header{
  margin-top: auto;
 
}
.imagen{
margin-top: auto ;
margin-right: 900px;
margin-bottom:200px ;

 }
.Titulo{

  color:black;
  font-style:oblique;
  margin-bottom:200px ;
margin-top:-300px ;
 }
 .guia{
 
  margin-top:-100px ;
  margin-right: 900px;
  margin-bottom:200px ;
  flex-direction: row;

 }


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



