
body{
  background-color: rgb(40, 43, 39);
  background-size:cover;
  background-position:auto; 
}
.header{
  background-color: #D10A11;
  border-bottom:5px solid rgb(67, 167, 224);
  margin: 0;
 /* position: fixed; /* Fija el elemento en la ventana del navegador */
  top: 0; /* Lo posiciona en la parte superior */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  padding: 10px 0; /* Espaciado interno superior e inferior */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  /* Puedes añadir más estilos según sea necesario */
  text-align:left;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.header h1{
  padding-right: 20px;
  margin-top: -50px;
  object-position: center;
  color:white;
  text-decoration: underline;
}

.footer{
  color:white !important;
}

.imagen{
margin-top: auto;
margin-right: 900px;
margin-bottom:200px ;
width: 200px;
object-position: left;
position:relative;
 }
.cosodelospasos{
  margin-left: 100px;
}

 
 
 

 #pasos{
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 }




